<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the public folder except for existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
